@{
    ViewData["RenderTransparentHeader"] = true;
}

<div class="hero">
    <div class="text">
        <h4>Ищете идеальный автомобиль?</h4>
        <h1>У нас — только проверенные машины<br> с прозрачной историей <br>и выгодными условиями покупки.</h1>
        <p> Узнайте, как легко и быстро стать владельцем авто мечты!</p>
        <a href="/catalog" class="btn">ПЕРЕЙТИ К КАТАЛОГУ</a>
    </div>
    <div class="avatar">
        <img src="~/images/route/home/coupe-1374450_1280-removebg-preview.png" alt="Car Image">
    </div>
</div>