
@{
    IEnumerable<Car> cars = (IEnumerable<Car>) ViewData["Cars"]!;
    bool searching = (bool?) ViewData["Searching"] ?? false;
}

@* Блок поиска и сортировки *@

@foreach (Car car in cars)
{
    <div class="div1">
        <img src="@(car.ImageUrl)" class="img1" >
        <p class="p1">Марка: @(car.Brand)</p>
        <p class="p2">Модель: @(car.Model)</p>
        <p class="p3">Ціна @(car.PriceForStandardConfiguration) грн</p>
    </div> 
}

@if(cars.Count() == 0)
{
    @if (searching)
    {
        @* То, что отображается, если поиск не дал результатов *@
    } 
    else
    {
        @* То, что отображается, если товаров нет *@
    }
}