.div1{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 35%;
    position: absolute;
    margin-left: 8%;
    border: solid 1mm black;
}
.img1{
    width: 20%;
    left: 5%;
    position: absolute;
    top: 15%;
}
.p1{
    left: 35%;
    position: absolute;
    font-size: 10mm;
    font-family: arial;
    top: 12%;
}
.p2{
    left: 35%;
    position: absolute;
    font-size: 10mm;
    font-family: arial;
    bottom: 10%;
}
.p3{
    left: 65%;
    position: absolute;
    font-size: 10mm;
    font-family: arial;
    bottom: 10%;
}

.small-image-in-list {
    height: 100px;
}