@{
ViewData["Title"] = "Некоректний запит";
}

<div  class="position-absolute top-50 start-50 translate-middle" style="color: #F79484;">
    <h1 class="text-center " style="font-size: 20mm;">400</h1>
    <h2 class="text-center">
        Сервер не може обробити ваш запит через некоректні дані, які були передані
    </h2>
</div>