@using Microsoft.AspNetCore.Diagnostics
@{
	ViewData["Title"] = "Непередбачена помилка";
	var statusCodeReExecuteFeature = Context.Features.Get<IStatusCodeReExecuteFeature>();
}
<div style="color: white">
	<div>Непередбачена помилка</div>
	@if (statusCodeReExecuteFeature is not null)
	{
		<div>Код: @statusCodeReExecuteFeature.OriginalStatusCode</div>
	}
</div>
