@{
    ViewData["Title"] = "Внутрішня помилка сервера";
}

<div  class="position-absolute top-50 start-50 translate-middle" style="color: #F79484;">
    <h1 class="text-center " style="font-size: 20mm;">500</h1>
    <h2 class="text-center">
        На жаль, щось пішло не так.
        Ми вже знаємо про проблему і працюємо над її виправленням. Будь ласка, спробуйте виконати запит пізніше.
    </h2>
</div>