@{
	ViewData["Title"] = "Ресурс не найден";
}

<div  class="position-absolute top-50 start-50 translate-middle" style="color: #F79484;">
  <h1 class="text-center " style="font-size: 20mm;">404</h1>
  <h2 class="text-center" >Веб-сторінку, яку ви намагаєтеся відкрити, не знайдено.</h2>
</div>